$appSpace: 333px;

$whiteColor: white;
$defaultColor: #42526E;
$defaultCategoriesSize: 1.1em;
$defaultMarginSpace: 0.5rem;

$displayFlex: flex;
$flexColumn: column;
$flexWrap: wrap;

$center: center;

$none: none;
$pointer: pointer;
$transitionEaseIn: 0.3s ease-in;
