<app-sidenav></app-sidenav>

<div class="container">
  <router-outlet></router-outlet>

  <footer class="footer">
    <div class="footer__content">
      <div class="footer__info">
        <img src="../../../assets/images/book.png">
        <p>EduLib</p>
      </div>

      <div class="footer__made-by">
        <p>Made by</p>
        <div class="example-button-row">
          <a mat-raised-button href="https://github.com/Abhik1998" color="accent">Abhik</a>
        </div>
      </div>
    </div>
  </footer>
</div>
